*{
    margin: 0;
    padding: 0;
    outline: 0;
    background:rgb(49, 49, 49);
}
header{
    background-color: blue;
    Display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    color: aqua;
    border: 4px solid aqua;
    justify-content: space-around;
}
h1{
    background-color: blue;
}
body{
    border: 8px solid aqua;
    box-sizing: border-box;
}
p{
    margin-top: 19px;
}
main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.box {
    margin-top: 60px;
	width: 450px;
	height: 450px;
	background-color: blue;
    border-radius: 10px;
	padding: 20px;	
	color: aqua;
	border-style: inherit;
	margin-bottom: 20px;
    font-size: 25px;
    border: 4px solid aqua;
}
.box h2 {
	margin: 0 0 10px 0;
	padding: 0;
}
.box figure {
	width: 450px;
	height: 200px;
	padding-top: 0;
	text-align: center;
	margin: auto;
    background-color: blue;
}
img {
    margin-top: 15px;
	width: 300px;
	height: 200px; 
}
.box p {
	text-align: center;	
    background-color: blue;
}
#nome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: aqua;
}
.boxT{
    align-items: center;
    background-color: blue;
}
footer{
    display: flex;
    align-items: center;
    height: 40px;
    color: aqua;
    font-size: 30px;
    justify-content: center;
    background-color: blue;
    border: 4px solid aqua;
}